::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: rgba(#4eb6fb, 0.05);
  border-radius: 10px;
}

::-webkit-scrollbar {
  width: 5px;
  background-color: rgba(#4eb6fb, 0.3);
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: #0e2459;
}
body {
  color: white;
  font-family: "Exo2";
}
.finance-app-wrapper {
  min-height: 100vh;
  background-image: linear-gradient(to right bottom, #081431, #002936, #041f31);
}
.purpose-image {
  width: 40px;
  height: 40px;
  margin-right: 10px;
  background-size: cover;
  border-radius: 10px;
  &--home {
    background-image: url(./image/home.jpg);
  }
  &--food {
    background-image: url(./image/food.jpg);
  }
  &--sport {
    background-image: url(./image/sport.jpg);
  }
  &--transport {
    background-image: url(./image/transport.jpg);
  }
  &--shopping {
    background-image: url(./image/shopping.jpg);
  }
  &--family {
    background-image: url(./image/family.jpg);
  }
  &--rest {
    background-image: url(./image/rest.jpg);
  }
  &--other {
    background-image: url(./image/other.jpg);
  }
  &--salary {
    background-image: url(./image/salary.jpg);
  }
  &--premium {
    background-image: url(./image/premium.jpg);
  }
  &--debt {
    background-image: url(./image/debt.jpg);
  }
  &--business {
    background-image: url(./image/business.jpg);
  }
  &--else {
    background-image: url(./image/other.jpg);
  }
}
.react-calendar__tile {
  background-color: #044546 !important;
}
.react-calendar__navigation {
  background-color: #003a41;
}
.react-calendar__month-view__weekdays {
  background-color: #013e43;
}
.react-daterange-picker {
  &__wrapper {
    border: 1px solid #9cdcfe !important;
    padding: 5px;
    border-radius: 4px;
  }
  &__button {
    svg {
      stroke: #fff;
    }
  }
}
.react-calendar {
  background-color: #003a41 !important;
  button {
    &:hover {
      background-color: #081532 !important;
    }
  }
  &__tile {
    &--active {
      background-color: #4fb8fe !important;
    }
  }
  &__navigation__label,
  &__navigation__arrow {
    &:hover {
      background-color: #081532 !important;
    }
  }
}
.title {
  font-size: 16px;
  text-transform: uppercase;
  padding-left: 20px;
  padding-top: 5px;
  padding-bottom: 5px;
  margin-bottom: 10px;
  background-color: rgba(#fff, 0.07);
}
.main-page {
}
.city-bg {
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
  width: 100vw;
  height: 100vh;
  background-image: url(../../components/app/image/New-York-City-Background.jpg);
  background-size: cover;
  background-position: center;
  &:before {
    content: "";
    display: block;
    width: 100vw;
    height: 100vh;
    background-color: rgba(#fff, 0.9);
  }
}
.application-nav {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;

  &__link {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 200px;
    height: 200px;
    background-color: #000000;
    border-radius: 10px;
    text-transform: uppercase;
    font-weight: bold;
    font-family: "Arial";
    &:not(:last-child) {
      margin-right: 30px;
    }
  }
}
.app-icon {
  width: 120px;
  height: 120px;
  margin-bottom: 20px;
}

.note-link {
  background-image: linear-gradient(
    to bottom,
    #071a39,
    #151f4b,
    #29225b,
    #412168,
    #5c1c72
  );
}
.finance-link {
  background-image: linear-gradient(
    to bottom,
    #081532,
    #021a34,
    #001e35,
    #002235,
    #022534
  );
}
.weather-link {
  background-image: linear-gradient(
    to bottom,
    #4f50b0,
    #1c70c7,
    #008cd3,
    #00a6d7,
    #41bed7
  );
}
.todo-link {
  background-image: linear-gradient(
    to bottom,
    #6bc413,
    #5bb80f,
    #4cad0c,
    #3ca108,
    #2a9604
  );
}
