.sphere-statistic {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 10px;
  &__title {
    font-size: 16px;
    text-transform: uppercase;
    padding-left: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-bottom: 10px;
    background-color: rgba(#fff, 0.07);
    // border-radius: 10px;
  }
  &__wrapper {
    margin-top: auto;
  }
}
.sphere-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 12.5%;
  &__img {
    margin-right: 0;
  }

  &__title {
    font-size: 12px;
  }
  &__sum {
    font-size: 12px;
  }
}
