.search-input {
  display: block;
  padding-left: 20px;
  padding-right: 20px;
  height: 45px;
  width: 600px;
  margin: 0 auto;
  margin-bottom: 30px;
  background-color: #ffffff;
  border-radius: 4px;
  color: grey;
  box-shadow: 10px 10px 14px 1px rgba(00, 00, 00, 0.2);
}
