* {
  box-sizing: border-box;
}

// body {
//   font-family: sans-serif;
//   font-weight: 300;
//   background-color: #fbfbfb;
//   background-image: none;
//   font-family: "Raleway", sans-serif;
//   color: #212121;
// }
.notes-body {
  display: flex;
  min-height: 100vh;
  height: 100%;
}
@media (max-width: 768px) {
  .notes-body {
    flex-direction: column;
  }
}
.notes-menu {
  width: 200px;
  min-height: 100%;
  background-image: linear-gradient(
    to right bottom,
    #051937,
    #131e4a,
    #29215b,
    #432169,
    #601b73
  );
}
.notes-section {
  width: 380px;
  border-right: 2px solid #f1f1f1;
}

.notes-input {
  display: block;
  padding-left: 10px;
  padding-right: 10px;
  height: 35px;
  width: 300px;
  margin: 0 auto;

  background-color: #fbfbfb;
  border-radius: 4px;
  color: grey;
  box-shadow: 0 5px 7px 1px rgba(00, 00, 00, 0.2);
  // border: 2px solid #f1f1f1;
  &--textarea {
    padding-top: 10px;
    padding-bottom: 10px;
    height: 150px;
  }
}
