* {
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  font-weight: 300;
  background-color: #fbfbfb;
  background-image: none;
  font-family: "Raleway", sans-serif;
  color: #212121;
}
.notes-body {
  display: flex;
  min-height: 100vh;
  height: 100%;
}
.notes-menu {
  width: 150px;
  min-height: 100%;
  background-image: linear-gradient(
    to right bottom,
    #051937,
    #131e4a,
    #29215b,
    #432169,
    #601b73
  );
}
.notes-section {
  width: 380px;
  border-right: 2px solid #f1f1f1;
}
.notes-topline {
  padding-bottom: 20px;
  border-bottom: 2px solid #f1f1f1;
}
.notes-input {
  display: block;
  padding-left: 20px;
  padding-right: 20px;
  height: 45px;
  width: 300px;
  margin: 0 auto;
  margin-bottom: 30px;
  background-color: #ffffff;
  border-radius: 4px;
  color: grey;
  box-shadow: 10px 10px 14px 1px rgba(00, 00, 00, 0.2);
  &--textarea {
    height: 150px;
  }
}
